:root {
  --font-title-r: neue-metana-regular;
  --font-title-b: neue-metana-bold;
  --font-body: "Courier New", Courier, monospace;
  --text: #f2f2f2;
  --primary-color: #7b00ff;
  --secondary-color: #dedcff;
  --background-color: #181818;
  --accent: #ffb128;
  background-color: #181818;
  text-align: center;
  color: var(--text);
}

@font-face {
  font-family: neue-metana-regular;
  src: url("../src/assets/fonts/NeueMetana-Regular.otf");
}
@font-face {
  font-family: neue-metana-bold;
  src: url("../src/assets/fonts/NeueMetana-Bold.otf");
}
p {
  font-family: var(--font-body);
}

.logo {
  font-size: 20px;
  margin-top: 16px;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

footer {
  border-top: var(--secondary-color) 1px solid;
  width: 100%;
  align-items: center;
  justify-content: center;
  bottom: 0;
  margin-top: 5%;
  display: flex;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title-b);
}
