.specific-crew-card {
  border: 1px dashed var(--primary-color);
  border-radius: 5px;
  padding: 1rem;
  transition: ease-in-out 0.5s;
  margin: 1rem 0;
  width: 80vw;
  h2 {
    color: var(--accent);
    text-align: center;
    width: 50%;
    font-size: clamp(1em, -1.5em + 8vw, 2em);
  }
  img {
    width: 50%;
    height: 10%;
    border-radius: 10px;
  }
  .crew-card-presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    position: relative;
    .heart-icon {
      position: absolute;
      top: 2px;
      right: 5px;
    }
  }
  p {
    text-align: left;
    font-size: 0.8em;
  }
}

.specific-crew-card:hover {
  border: 1px dashed var(--accent);
  transform: scale(1.05);
}

@media (min-width: 1024px) {
  .specific-crew-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 85vw;
    img {
      width: 25%;
    }
    .crew-card-desc {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 60%;
      gap: 3rem;
      h2 {
        width: auto;
      }
      .crew-card-name-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}
