.main-crew-profile {
  display: block;
  margin: 3rem 2rem;
}
.header-crew-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  img {
    width: 50%;
    transition: all ease-in-out 800ms;
  }
  img:hover {
    scale: 1.1;
    transition: all ease-in-out 800ms;
  }
  .crew-profile-title-options {
    margin: 1rem 0;
    h1 {
      margin: 1rem 0;
    }
  }
  .button-container-crew-profile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    button {
      background-color: var(--accent);
      border-radius: 10px;
      font-family: var(--font-title-b);
      font-size: clamp(0.7em, 3vw, 1.5em);
      padding: 0.3em 1em;
    }
  }
}
.desc-crew-profile {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 4rem;
}

.events-crew-profile-title {
  display: flex;
  flex-direction: column;
  .title-add-btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      background-color: var(--accent);
      border-radius: 10px;
      font-family: var(--font-title-b);
      font-size: clamp(0.7em, 3vw, 1.5em);
      padding: 0.3em 1em;
    }
  }
  .button-container-events-status {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1em;
    .button-events-status {
      border: 1px solid var(--primary-color);
      background-color: var(--background-color);
      color: var(--text);
      font-size: clamp(0.7em, 3vw, 1.5em);
      padding: 0.3em 1em;
    }
    .button-events-status:hover {
      background-color: var(--primary-color);
    }
    .button-events-status.active {
      background-color: var(--primary-color);
    }
  }
}

@media screen and (min-width: 1024px) {
  .main-crew-profile {
    display: block;
    margin: 6rem 4rem;
    h2 {
      font-size: 2em;
    }
  }

  .header-crew-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    img {
      border-radius: 10px;
      width: 30%;
    }
    h1 {
      font-size: 3em;
    }
  }

  .button-container-events-status {
    margin: 2em;
  }
}
