.section-user-profile-infos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 50vh;
  .avatar-client {
    width: 35%;
    height: 40%;
    border-radius: 5px;
  }
  p {
    font-family: var(--font-title-r);
  }
  .client-edition-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    .btn-edition-client-profile {
      width: 40%;
      border-radius: 10px;
      border: none;
      background-color: var(--accent);
      font-family: var(--font-title-r);
      font-size: x-small;
      margin: 0.5rem 0;
      padding: 0.15rem 0;
    }
  }
}

.avatar {
  width: 20%;
  height: 20%;
  background-color: var(--accent);
  border-radius: 100%;
}

.section-user-events {
  text-align: start;
  color: var(--secondary-color);
}

.section-user-crews {
  text-align: start;
  color: var(--secondary-color);
}

@media (min-width: 1024px) {
  .section-user-profile-infos {
    .avatar-client {
      width: 20%;
      height: 60%;
    }
    p {
      font-family: var(--font-title-r);
    }
    .client-edition-profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.25rem;
      h1 {
        font-size: xx-large;
      }
    }
  }
}
