.heart-home {
  height: 20vh;
  margin-top: 5vh;
  animation: spin 15s infinite linear;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.main-home-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.presentation-home-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.header-home-page {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 3rem;

  .header-p-less {
    width: 90%;
    height: fit-content;
    margin: auto;
    text-align: left;
    transition: all 2s ease-in-out;
  }
  .header-p-more {
    width: 90%;
    height: fit-content;
    margin: auto;
    -webkit-box-orient: vertical;
    text-align: left;
    -webkit-line-clamp: 5;
    overflow: hidden;
    display: -webkit-box;
    transition: all 2s ease-in-out;
  }
  .title-header-home-page {
    color: var(--secondary-color);
    font-size: clamp(1.5em, 3vw, 2.5em);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.btn-show-home-page {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255, 0.2),
    rgb(255, 255, 255, 0.4)
  );
  font-family: var(--font-body);
  width: 50%;
  border-radius: 0.5rem;
  height: 30%;
  color: var(--text);
}

.slider-home-page {
  margin-bottom: 5rem;
}

.label-slider-home-page {
  text-align: left;
  margin: 1rem 0 1rem 1rem;
}

.p-title-header-home-page {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-weight: bold;
}

#div-btn-register {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 2.5em 2.5em;
  align-items: baseline;
}

.btn-side-home {
  display: flex;
  flex-direction: column;
  width: 80vw;
  gap: 1rem;
  .p-home-btn {
    font-size: 0.813rem;
    text-align: left;
  }
}

.input-image-select {
  font-size: 0.7em;
}

.home-btn {
  cursor: pointer;
  border-radius: 10px;
  height: 7vh;
  color: var(--secondary-color);
  background-image: url("../../assets/images/Noise.png");
  background-color: var(--primary-color);
  font-size: 1.25rem;
  font-family: var(--font-title-b);
  border: none;
}

@media screen and (min-width: 760px) {
  .home {
    justify-content: center;
    margin: auto;
    margin-left: 3rem;
    gap: 2rem;
  }
  #div-btn-register {
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: space-evenly;
  }
  .header-home-page {
    height: 85vh;
    flex-direction: row;
    align-items: center;

    .transition-p {
      overflow: hidden;
    }
    .header-p-more {
      width: 70%;
      height: fit-content;
      margin: auto;
      text-align: left;
      -webkit-line-clamp: 10;
    }
  }

  .swiperr {
    margin: auto;
  }
  .heart-home {
    height: 50vh;
    animation: none;
    animation: spin 15s infinite linear;
  }

  .p-title-header-home-page {
    margin-top: 2em;
  }

  .home-btn {
    transition: all ease-in-out 0.3s;
  }
  .home-btn:hover {
    transform: scale(1.2);
    font-size: 1.5rem;
  }

  .btn-side-home {
    width: 20rem;
    .description {
      .p-home-btn {
        font-size: 1em;
      }
    }
  }
  .btn-show-home-page {
    display: none;
  }
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg) scale(1);
  }
  10% {
    transform: rotateZ(10deg) scale(1.01);
  }
  20% {
    transform: rotateZ(0deg) scale(1.01);
  }
  30% {
    transform: rotateZ(-10deg) scale(1.01);
  }
  50% {
    transform: rotateZ(10deg) scale(1.01);
  }
  70% {
    transform: rotateZ(0deg) scale(1.01);
  }
  80% {
    transform: rotateZ(-10deg) scale(1.01);
  }
  90% {
    transform: rotateZ(10deg) scale(1.01);
  }
  100% {
    transform: rotateZ(0deg) scale(1);
  }
}
