.display-modal-search-bar {
  position: fixed;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 1.5rem;
  background-color: var(--background-color);
  box-shadow: var(--secondary-color) 0 0 10px 0;
  z-index: 9999;
  .search-events-crews-title {
    color: var(--secondary-color);
    text-align: start;
    align-items: flex-start;
  }
  input {
    border-radius: 50px;
    width: 100%;
    background-color: var(--background-color);
    color: var(--secondary-color);
    padding: 0.5rem;
    font-family: "Courier New", Courier, monospace;
  }
  input::placeholder {
    color: var(--secondary-color);
    font-size: clamp(2em 3vw 6em);
    font-family: "Courier New", Courier, monospace;
  }
  .section-option-date-category {
    display: flex;
    justify-content: space-evenly;
    margin: 0.5rem 0;
  }
  select {
    border-radius: 10px;
    padding: 0.5rem;
    font-family: var(--font-title-b);
    background-color: var(--background-color);
    color: var(--secondary-color);
  }
}

.btn-close-modal-search-bar {
  color: var(--secondary-color);
  position: absolute;
  top: 5px;
  right: 5px;
}

.section-display-suggestions {
  display: flex;
  align-items: flex-start;
  margin: 1rem 0;
  gap: 1.5rem;
  overflow: hidden;
  overflow-x: scroll;
  img {
    border-radius: 10px;
    width: 115px;
    height: 100px;
  }
}

.display-search-crews {
  display: flex;
  overflow: hidden;
  gap: 1rem;
  overflow-x: scroll;
  .picture-crews {
    width: 100%;
    height: 50%;
  }
}

.mascot-search-bar {
  position: relative;
  left: 45%;
  width: 15%;
}

@media (min-width: 1024px) {
  .display-modal-search-bar {
    .section-option-date-category {
      display: flex;
      justify-content: space-evenly;
      margin: 1rem 0;
    }
  }

  .section-modal-search-bar {
    padding: 1rem;
    width: 80%;
  }

  .section-display-suggestions {
    img {
      width: 175px;
      height: 150px;
    }
  }
}
