.swiper-slide img {
  display: block;
  border-radius: 10px;
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  cursor: pointer;
}
.swiper {
  width: 90vw;
  height: 100%;

  overflow: hidden;
}
@media screen and (min-width: 760px) {
  .swiper-slide {
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper {
    width: 100vw;
    height: 100%;
  }

  .swiper-slide img {
    display: block;
    border-radius: 10px;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
  }
}
