.main-crew-profile {
  display: block;
  margin: 3rem 2rem;
}
.header-crew-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  img {
    width: 50%;
    transition: all ease-in-out 800ms;
  }
  img:hover {
    scale: 1.1;
    transition: all ease-in-out 800ms;
  }
  .crew-profile-title-options {
    margin: 1rem 0;
    h1 {
      margin: 1rem 0;
    }
  }
  .button-container-crew-profile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    button {
      background-color: var(--accent);
      border-radius: 10px;
      font-family: var(--font-title-b);
      font-size: clamp(0.7em, 3vw, 1.5em);
      padding: 0.3em 1em;
    }
  }
}
.evaluate-admin-buttons {
  display: flex;
  svg {
    background-color: var(--accent);
    color: black;
    border-radius: 5px;
    margin: 0 0.5rem;
    height: 1.5em;
    width: 2em;
  }
}
.desc-crew-profile {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 4rem;
}

.events-crew-profile-title {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    background-color: var(--accent);
    border-radius: 10px;
    font-family: var(--font-title-b);
    font-size: clamp(0.7em, 3vw, 1em);
    padding: 0.3em 1em;
  }
}

@media screen and (min-width: 1024px) {
  .main-crew-profile {
    display: block;
    margin: 6rem 4rem;
    h2 {
      font-size: 2em;
    }
  }

  .header-crew-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    img {
      border-radius: 10px;
      width: 30%;
    }
    h1 {
      font-size: 3em;
    }
  }
  .evaluate-admin-buttons {
    svg {
      height: 2.5em;
      width: 3.5em;
    }
  }
}
.input-crew-crea {
  border: none;
  font-size: 3em;
  background-color: var(--background-color);
  border-bottom: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  width: 20vw;
}
.textarea-crew-crea {
  border: none;
  font-size: 3em;
  background-color: var(--background-color);
  border-bottom: 2px solid var(--secondary-color);
  border-top: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  margin: auto;
  width: 90vw;
  height: "auto";
  min-height: 10rem;
}

.div-img-input {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  img {
    object-fit: cover;
    height: 20em;
    width: 20em;
  }
  input {
    width: 100%;
  }
}
